<div class="row">
    <div class="col-md-12 general-block-decorator">
        <div class="title">
            {intl d="guaranteed_opinion.bo.default" l="Configure guaranteed_opinion"}
        </div>

        {if $success|default:false}
        <div class="alert alert-success">
            {intl l="Configuration correctly saved" d="guaranteed_opinion.bo.default"}
        </div>
    {/if}

    {form name="guaranteed_opinion.configuration"}
    <form action="{$current_url}" method="post">
        {include "includes/inner-form-toolbar.html" hide_flags = 1 close_url={url path='/admin/modules'}}
        <br/>

        {form_field field="success_url"}
            <input type="hidden" name="{$name}" value="{url path='/admin/modules'}" />
        {/form_field}

        {form_hidden_fields}

        <div class="col-md-4">
            <h2 class="title title-without-tabs">{intl l="Global configuration" d='netreviews.bo.default'}</h2>
            {render_form_field field="api_key"}
            {form_field form=$form field='api_url'}
                <label class="control-label" for="{$name}">{$label}</label>
                <input class="form-control" id="{$name}" type="text" name="{$name}" value="{$data}" placeholder="https//cl.avis-verifies.com/fr/cache/1/5/b/[website_id]/AWS/PRODUCT_API/REVIEWS/[id_product].json "/>
            {/form_field}
            {render_form_field field="exception_on_errors"}
        </div>

        <div class="col-md-4">
            <h2 class="title title-without-tabs">{intl l="Sending orders configuration" d='netreviews.bo.default'}</h2>
            <div class="col-md-12 form-group">
                {$data = null}
                <p class="well well-sm">php Thelia module:NetReviews:SendOrder</p>
                <p>{intl l="And choose which status will be exported" d='netreviews.bo.default'}</p>
                {$data = null}
                {render_form_field form=$form field="status_to_export" value={$data}}
            </div>
        </div>
        <div class="col-md-4">
            <h2 class="title title-without-tabs">{intl l="Footer link" d='netreviews.bo.default'}</h2>
            <div class="col-md-12 form-group">
                {$data = null}
                {render_form_field form=$form field="footer_link_title" value={$data}}
                {render_form_field form=$form field="footer_link" value={$data}}
                {render_form_field form=$form field="footer_link_hook_display" value={$data}}
                {render_form_field field="footer_link_display"}
            </div>
        </div>

        <div class="col-md-6">
            <h2 class="title title-without-tabs">{intl l="Product reviews" d='netreviews.bo.default'}</h2>
            <div class="col-md-12 form-group">
                <div id="product_custom" class="product_review_mode_form">
                    {render_form_field form=$form field="product_review_hook_display" value={$data}}
                    {render_form_field field="product_review_display"}
                </div>
            </div>
        </div>

        <div class="col-md-6">
{*        <div class="col-md-6">*}
            <h2 class="title title-without-tabs">{intl l="Site reviews" d='netreviews.bo.default'}</h2>
            <div class="col-md-12 form-group">
                <div id="site_custom" class="site_review_mode_form">
                    {render_form_field form=$form field="site_review_hook_display" value={$data}}
                    {render_form_field field="site_review_display"}
                </div>
            </div>
        </div>

        {include "includes/inner-form-toolbar.html" hide_flags = 1 close_url={url path='/admin/modules'} page_bottom = 1}
    </form>
    {/form}
</div>